:root {
    --main-color: rgba(8, 14, 18, 1);
    --accent-color: rgba(8, 30, 38, 1);
    --highlight-color: rgba(40, 175, 176, 1);
    --default-text-color: rgba(220, 220, 220, 1);
    --firefly-color: rgba(40, 175, 176, 0.8);
    --firefly-glow: 40, 175, 176, 0.2;

    --about-me-h1-size: 2.6rem;
    --about-me-h2-size: 2rem;
    --about-me-p-size: 1.4rem;
}

@media screen and (max-width: 850px) {
    :root {
        --about-me-h1-size: 2.3rem;
        --about-me-h2-size: 1.5rem;
        --about-me-p-size: 1.1rem;
    }
}

/*//// Category Headers ////*/
h3 {
    color: var(--default-text-color);
    font-size: var(--about-me-h1-size);
    text-align: center;
}

h3::after {
    content: '';
    display: block;
    height: 3px;
    width: 15rem;
    background-color: var(--highlight-color);
    margin: 20px auto auto auto;
}

html {
    font-family:'Roboto Slab';
    line-height: 20px;
    color: var(--default-text-color);
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

html a {
    font-weight: bold;
    color: var(--highlight-color);
}

body {
    height: 100%;
    margin: auto;
}

footer {
    margin-top: 60px;
    height: 130px;
    background-color: var(--accent-color);
}

hr {
    margin-bottom: 50px;
    height: 6px;
    border: none;
    background-color: var(--accent-color);
}

/*////// Nav Bar //////*/      

.navbar {
    background-color: var(--accent-color);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 90px;
}

.navbar-name {
    padding: 0 0 0 20%;
}

.navbar-name h1 {
    color: var(--highlight-color);
    font-size: 1.3rem;
    display: inline;
}

.navbar-name h2 {
    color: var(--default-text-color);
    font-weight: lighter;
    font-size: 1.0rem;
    display: inline;
}

.navbar-links {
    margin-left: auto;
    padding: 0 20% 0 0;
}

@media screen and (max-width: 1920px) {
    .navbar-name {
        padding: 0 0 0 5%;
    }

    .navbar-links {
        padding: 0 5% 0 0;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        height: 10vh;
    }

    .navbar-name {
        width: 100%;
        padding: 0 0 0 5%;
    }

    .navbar-links {
        display: none;
    }
}

/*////// About Me //////*/ 

.about-me-container {
    position: relative;
    height: 500px;
    background-image: url("./images/about-me-background.png");
    background-repeat: repeat-x;
    overflow: hidden;
}

.about-me {
    z-index: 10;
    background-color: rgba(var(--firefly-color));
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 90%;
    height: 250px;
}

.about-me h1 {
    font-size: var(--about-me-h1-size);
    text-align: center;
    line-height: normal;
    color: var(--highlight-color);
    margin-bottom: -10px;
}

.about-me h2 {
    font-size: var(--about-me-h2-size);
    text-align: center;
    line-height: 0px;
    color: var(--default-text-color)
}

.about-me p {
    line-height: normal;
    margin: auto;
    padding-left: 2%;
    max-width: 800px;
    font-size: var(--about-me-p-size);
}

.ghost-animation {
    position: absolute;
    display: block;
    background-image: url("./images/ghost-animation.gif");
    margin-left: 15vw;
    bottom: 15%;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1920px) {
    .about-me {
        transform: translate(-50%, -80%);
        width: 95%;
    }
    
    .ghost-animation {
        margin-left: 0vw;
    }
}

@media screen and (max-width: 850px) and (max-height: 1180px) {
    .about-me-container {
        height: 90vh;
        background-size: cover;
    }

    .about-me {
        transform: translate(-50%, -80%);
        bottom: 50%;
    }

    .about-me h2 {
        word-wrap: break-word;
        line-height: normal;
    }

    .about-me p {
        width: 95%;
    }

    .ghost-animation {
        display: none;
    }
}

/*///// Fireflies /////*/

.fireflies {
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none; /* Prevent interaction */
}

.firefly {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: var(--firefly-color);
    box-shadow: 0px 0px 5px 5px rgba(var(--firefly-glow));
    animation: move 4s linear infinite, blink 3s ease-in-out infinite alternate;
}

/* Firefly movement animation */
@keyframes move {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, calc(100vh - 50px));
    }
}

/* Firefly blinking animation */
@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


/*////// My Work //////*/ 
.my-work {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
}

.my-work-spacer {
    height: 150px;
}

.my-work h1 {
    color: var(--highlight-color);
}

.my-work-entry {
    min-height: 700px;
    display: flex;
}

.my-work-entry-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--about-me-p-size);
    line-height: normal;
    width: 30%;
    margin-right: 3%;
}

.my-work-entry-slideshow {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 70%;
    min-height: 700px;
    height: 100%;
}

.link-list {
    height: 55px;
    display: flex;
    flex-direction: row;
}

.image-button {
    background-repeat: no-repeat;
    background-size: contain; /* Scale the image while maintaining aspect ratio */
    background-position: center; /* Center the image within the div */
    width: 10%; /* Ensure the width fills the container */
    height: 100%; /* Make the background size adjust to the div's height */
    transition: all 0.2s;
}

.image-button:hover {
    transform: scale(1.2); /* Swell the image slightly */
}

.itch {
    margin-right: 20px;
    background-image: url('./images/logos/itch.svg');
}

.github {
    background-image: url('./images/logos/github.svg');
}

.slideshow-controls {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
    width: 80%
}

.my-work-entry-image {
    display: none;
    width: 100%;
    object-fit:contain;
    height: 600px;
    margin: auto;
}

.my-work ul {
    list-style-type:square;
    padding: 30px 0 0 25px;
    margin: 0;
}

/* Arrow buttons */
.prev, .next {
    color: var(--highlight-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 60px;
    transition: 0.6s ease;
    user-select: none;
    padding: 12px;
    z-index: 10;
}

.prev:hover, .next:hover {
    color: var(--accent-color);
}

@media screen and (max-width: 2560px) {
    .my-work {
        width: 90%;
    }
}

@media screen and (max-width: 1500px) {
    .my-work-entry {
        flex-direction: column-reverse;
    }

    .my-work-entry-text {
        margin: auto;
        width: 100%;
        margin-top: 5%;
    }

    .link-list {
        justify-content: center;
    }

    .image-button {
        margin-top: 15px;
        width: 50px;
    }

    .my-work-entry-slideshow {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {

    .my-work {
        width: 100%;
    }

    .my-work-entry-slideshow {
        min-height: 300px;
    }

    .my-work-entry-text {
        font-size: var(--about-me-p-size);
        padding-top: 10px;
        margin: auto;
        width: 95%;
    }

    .my-work-entry-image {
        height: 33vh;
    }

    .next, .prev {
        font-size: 30px;
    }

    .my-work-spacer {
        height: 50px;
    }

}

/*//// Contact Me ////*/

.contact {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.contact-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 60%;
    font-size: var(--about-me-p-size);
    line-height: normal;
}

.contact-image {
    width: 40%;
    object-fit: cover;

}

.contact a {
    border-bottom: 1px solid var(--highlight-color);
    font-size: var(--about-me-p-size);
    position: relative;
    display: flex; /* Enables flexbox for centering */
    align-items: center; /* Centers text vertically */
    justify-content: flex-start; /* Centers text horizontally */
    height: 30px;
    background-color: transparent; /* Start with transparent background */
    color: var(--default-text-color);
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    overflow: hidden; /* Ensure the background fill stays within bounds */
    transition: color 0.3s ease-in-out; /* Text color transition */
}

.contact a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--highlight-color); /* Background fill color */
    transition: width 0.4s ease-in-out; /* Smooth fill animation */
    z-index: -1; /* Ensure the background stays behind the text */
}

.contact a:hover::before {
    width: 100%; /* Expand the background to fill the entire width */
}

.contact a:hover {
    color: var(--accent-color); /* Optionally change text color when hovered */
}

@media screen and (max-width: 1500px) {
    .contact {
        width: 100%;
        flex-direction: column;
    }

    .contact-image {
        margin: auto;
        width: 90%;
        height: auto;
    }

    .contact-text {
        margin: auto;
        padding-top: 30px;
        width: 70%;
    }
}

@media screen and (max-width: 850px) {

    .contact-image {
        width: 100%;
        height: auto;
    }

    .contact-text {
        margin: auto;
        width: 95%;
    }
}

/*//// Footer ////*/

.footer-links {
    padding-top: 55px;
    margin: auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer-link {
    display: block;
    height: 40px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
}

.footer-link:hover {
    transform: scale(1.2); /* Swells the image to 120% of its original size */
}

.footer-linkedin {
    background-image: url('./images/logos/linkedin_logo.png');
}

.footer-github {
    background-image: url('./images/logos/github_logo.png');
}

.footer-itchio {
    background-image: url('./images/logos/itchio_logo.png');
}

@media screen and (max-width: 1500px) {
    .footer-links {
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    .footer-links {
        width: 95%;
    }
}